# Paste your deployed Google Apps Script Web App URL here.
NEXT_PUBLIC_GOOGLE_SHEET_URL= https://script.google.com/macros/s/AKfycbwq1hr2JRsYiMBqsMVmZYk5w9H3TQBqWgIOH45_BZGwBakwRx_9XWwD2Q-vm2U81haDZg/exec
